# Explore R Objects
 - difference between lists and dataframes
 - triple bang (!!!) vs two bang (!!)
 - dplyr functions pros cons

Explore the list Object
 - list came be composed of different data types
 - lists can have names but are not required

In [ ]:
l1 <- list("A" = 1:2, "B" = 3:10, "C" = 12345, "D" = "some text", 3.145)
l1

 - can access the list element by name or by index
 - can iterate over names of lists or by the list elements

In [ ]:
l1$A

In [ ]:
typeof(l1$A)

In [ ]:
names(l1)

In [ ]:
typeof(names(l1))

In [ ]:
char1 <- names(l1)
print(char1[1])
print(char1[5])
print(char1[1:5])

In [ ]:
for (i in names(l1)){
    print(i)
    print(typeof(i))
}

### What is a !!! and how does it work?

In [ ]:
data(mtcars)
head(mtcars)

In [ ]:
library(dplyr)
cols <- c("cyl", "hp", "wt")
select(mtcars, cols)

In [ ]:
mtcars %>% select(all_of(cols))

In [ ]:
cols2 <- list("cyl", "hp", "wt")

In [ ]:
cols2 <- list("cyl", "hp", "wt")
mtcars %>% select(!!!cols2)

In [ ]:
mtcars %>% select(!!!cols)

In [ ]:
mtcars[cols]

In [ ]:
mtcars[!!!cols]

In [ ]:
!!cols

In [ ]:
typeof(mtcars)

In [ ]:
test_df <- tibble(a = 1, b = 1, c = 1, d = 1)

test_df %>%
  select(1, 2, 3)

In [ ]:
test_df

In [ ]:
library(dplyr)