# Explore R Objects
 - difference between lists and dataframes
 - triple bang (!!!) vs two bang (!!)
 - dplyr functions pros cons

Explore the list Object
 - list came be composed of different data types
 - lists can have names but are not required

In [ ]:
l1 <- list("A" = 1:2, "B" = 3:10, "C" = 12345, "D" = "some text", 3.145)
l1

 - can access the list element by name or by index
 - can iterate over names of lists or by the list elements

In [ ]:
l1$A

In [ ]:
typeof(l1$A)

In [ ]:
names(l1)

In [ ]:
typeof(names(l1))

In [ ]:
char1 <- names(l1)
print(char1[1])
print(char1[5])
print(char1[1:5])

In [ ]:
for (i in names(l1)){
    print(i)
    print(typeof(i))
}

### What is a !!! and how does it work?

In [1]:
data(mtcars)
head(mtcars)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

In [ ]:
library(dplyr)
cols <- c("cyl", "hp", "wt")
select(mtcars, cols)

In [ ]:
mtcars %>% select(all_of(cols))

In [2]:
cols2 <- list("cyl", "hp", "wt")
mtcars %>% select(!!!cols2)

ERROR: Error in mtcars %>% select(!!!cols2): could not find function "%>%"

In [5]:
mtcars %>% select(!!!cols)

ERROR: Error in mtcars %>% select(!!!cols): could not find function "%>%"

In [6]:
mtcars[cols]

ERROR: Error in `[.data.frame`(mtcars, cols): object 'cols' not found

In [ ]:
mtcars[!!!cols]

In [ ]:
!!cols

In [ ]:
typeof(mtcars)

In [ ]:
test_df <- tibble(a = 1, b = 1, c = 1, d = 1)

test_df %>%
  select(1, 2, 3)

In [ ]:
test_df

In [8]:
library(dplyr)

Attaching package: 'dplyr'


The following objects are masked from 'package:stats':

    filter, lag


The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union