# Explore Dataframe object

### How to rename columns using a dictionary key:value pair?

In [60]:
#Create example dataframe
A <- c(1,2,3)
B <- c("one", "two", "three")
C <- c(TRUE, FALSE, TRUE)

example_df = data.frame(A,B,C)

example_df

  A B     C
1 1 one    TRUE
2 2 two   FALSE
3 3 three  TRUE

In [61]:
#can access the column names using colnames function
colnames(example_df)

[1] "A" "B" "C"

In [62]:
#can create a vector with name:value pairs for translation
col_list <- c("A" = "columns_a", "C" = "columns_c")

In [74]:
#Can index col_list vector. Note: You can index nonexistant values and return an NA
print(col_list["A"])

print(col_list["B"])

print(col_list["C"])

print(col_list["D"])

          A
"columns_a"
<NA>
  NA
          C
"columns_c"
<NA>
  NA

In [75]:
#cam use the columns list vector to index dataframe and vice versa
col_list[colnames(example_df)]

          A        <NA>           C
"columns_a"          NA "columns_c"

### Example #1: rename columns using vector with exact length and exact name matching

If names are missing, or vector is of different name, the column names will turn to NAN

In [101]:
#Create example dataframe
A <- c(1,2,3)
B <- c("one", "two", "three")
C <- c(TRUE, FALSE, TRUE)

example_df = data.frame(A,B,C)

print(example_df)

#can create a vector with name:value pairs for translation
col_list <- c("A" = "columns_a", "C" = "columns_c")

colnames(example_df) <- col_list[colnames(example_df)]

print(example_df)

  A     B     C
1 1   one  TRUE
2 2   two FALSE
3 3 three  TRUE
  columns_a    NA columns_c
1         1   one      TRUE
2         2   two     FALSE
3         3 three      TRUE

### Example #2:

If names are missing, or vector is of different name, the column names will turn to NAN

In [115]:
#Create example dataframe
A <- c(1,2,3)
B <- c("one", "two", "three")
C <- c(TRUE, FALSE, TRUE)

example_df = data.frame(A,B,C)

print(example_df)

  A     B     C
1 1   one  TRUE
2 2   two FALSE
3 3 three  TRUE

In [105]:
#can create a vector with name:value pairs for translation
col_list <- c("A" = "columns_a", "C" = "columns_c")

In [114]:
library(data.table)

In [116]:
setDT(example_df)

In [122]:
setNames(example_df, col_list, skip_absent = TRUE)

ERROR: Error in setNames(example_df, col_list, skip_absent = TRUE): unused argument (skip_absent = TRUE)

In [107]:
setNames(example_df, col_list, askip_absent = TRUE)

ERROR: Error in setNames(example_df, col_list, askip_absent = TRUE): unused argument (askip_absent = TRUE)

In [92]:
# slice columns
example_df[,c("A", "C")]

  A C
1 1  TRUE
2 2 FALSE
3 3  TRUE

In [98]:
# slice columns using the names of a vector
example_df[, names(col_list)]

  A C
1 1  TRUE
2 2 FALSE
3 3  TRUE

In [45]:
#col_list <- c("A" = "columns_a", "B" = "columns_b", "C" = "columns_c")
col_list <- c("A" = "columns_a", "C" = "columns_c")
colnames(example_df) <- col_list[colnames(example_df)]

In [50]:
col_list[colnames(example_df)]

          A        <NA>           C
"columns_a"          NA "columns_c"

In [35]:
names(col_list)

[1] "A" "C"

In [41]:
colnames(example_df) <- col_list[colnames(example_df[names(col_list)])]

In [42]:
example_df

  columns_a columns_c <NA>
1 1         one        TRUE
2 2         two       FALSE
3 3         three      TRUE

# Explore mtcars dataset

In [57]:
data(mtcars)

In [58]:
typeof(colnames(mtcars))

[1] "character"

In [59]:
colnames(mtcars)[4]

[1] "hp"