In [1]:
df <- read.csv("response_df.csv")

In [3]:
names(df)

 [1] "id"                    "NAICSCode"             "NAICSTitle"
 [4] "NAICSProbability"      "CensusIndustryCode"    "CensusIndustryTitle"
 [7] "SOCCode"               "SOCTitle"              "SOCProbability"
[10] "CensusOccupationCode"  "CensusOccupationTitle"

In [6]:
idkey <- data.frame(
  "original"=c("id", "NAICSCode", 'NAICSTitle', 'NAICSProbability', 'SOCCode', 'SOCTitle','SOCProbability', 'CensusIndustryCode','CensusOccupationCode','CensusIndustryTitle', 'CensusOccupationTitle'),
  "new"=c("case_id", "naics_code", 'naics_title', 'naic_prob', 'soc_code', 'soc_title', 'soc_prob', 'cen_ind_code', 'cen_occ_code', 'cen_ind_title','cen_occ_title'))

In [12]:
col_list <- list("id" = "case_id",
             'NAICSCode' = "naics_code",
             'NAICSTitle' = 'naics_title',
             'NAICSProbability' = 'naic_prob',
             'SOCCode' = 'soc_code',
             'SOCTitle' = 'soc_title',
             'SOCProbability' = 'soc_prob',
             'CensusIndustryCode' = 'cen_ind_code',
             'CensusOccupationCode' ='cen_occ_code',
             'CensusIndustryTitle' = 'cen_ind_title' ,
             'CensusOccupationTitle' = 'cen_occ_title'
            )

colnames(df) <- dplyr::recode(colnames(df), !!!col_list)

In [10]:
idkey$original

 [1] "id"                    "NAICSCode"             "NAICSTitle"
 [4] "NAICSProbability"      "SOCCode"               "SOCTitle"
 [7] "SOCProbability"        "CensusIndustryCode"    "CensusOccupationCode"
[10] "CensusIndustryTitle"   "CensusOccupationTitle"

In [13]:
l1

$id
[1] "case_id"

$NAICSCode
[1] "naics_code"

$NAICSTitle
[1] "naics_title"

$NAICSProbability
[1] "naic_prob"

$SOCCode
[1] "soc_code"

$SOCTitle
[1] "soc_title"

$SOCProbability
[1] "soc_prob"

$CensusIndustryCode
[1] "cen_ind_code"

$CensusOccupationCode
[1] "cen_occ_code"

$CensusIndustryTitle
[1] "cen_ind_title"

$CensusOccupationTitle
[1] "cen_occ_title"

In [19]:
a <- setNames(idkey$new, idkey$original)

In [20]:
a

                   id             NAICSCode            NAICSTitle
            "case_id"          "naics_code"         "naics_title"
     NAICSProbability               SOCCode              SOCTitle
          "naic_prob"            "soc_code"           "soc_title"
       SOCProbability    CensusIndustryCode  CensusOccupationCode
           "soc_prob"        "cen_ind_code"        "cen_occ_code"
  CensusIndustryTitle CensusOccupationTitle
      "cen_ind_title"       "cen_occ_title"

In [21]:
colnames(df) <- dplyr::recode(colnames(df), !!!l1)

In [22]:
df

  case_id naics_code naics_title
1 2        711       Performing Arts, Spectator Sports, and Related Industries
2 3       6213       Offices of Other Health Practitioners
3 4        622       Hospitals
  naic_prob cen_ind_code
1 0.9999990 8560
2 0.9719890 8080
3 0.9999975 8190
  cen_ind_title                                             soc_code
1 Performing Arts, Spectator Sports, and Related Industries 27-2031
2 Offices of Other Health Practitioners                     29-1199
3 Hospitals                                                 29-1141
  soc_title                                               soc_prob
1 Dancers                                                 0.9995087
2 Health Diagnosing and Treating Practitioners, All Other 0.9988512
3 Registered Nurses                                       1.0000000
  cen_occ_code cen_occ_title
1 2740         Dancers and Choreographers
2 3260         Health Diagnosing and Treating Practitioners, All Other
3 3255         Registered Nurses